{% extends 'layout.html' %}
{% block title %}供应商管理{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>供应商列表</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            <a class="btn btn-primary" href="/supplier/create/">添加</a>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <tr>
                <th>名称</th>
                <th>电话</th>
                <th>城市</th>
                <th>地址</th>
                <th>备注</th>
                <th width="140">操作</th>
            </tr>
            {% for item in data_list %}
            <tr>
                <td>
                    <a href="/supplier/detail/{{item.id}}">{{ item.name }}</a>
                </td>
                <td>{{ item.phone }} </td>
                <td>{{ item.city }} </td>
                <td>{{ item.address|default_if_none:"" }} </td>
                <td>{{ item.desc|default_if_none:"" }} </td>
                <td>
                    <a class="btn btn-success" href="/supplier/update/{{item.id}}">修改</a>
                    <a class="btn btn-danger" href="/supplier/delete/{{item.id}}">删除</a>
                </td>
            </tr>

            {% endfor %}
        </table>
        {% include 'pagination.html' %}

    </div>
</div>

{% endblock %}


{% block style %}
{# 表格的单元格垂直居中的样式 #}
<style>
   table td {
    vertical-align: middle !important;
    }
</style>
{% endblock %}