<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ea39ed2faec6480788a63a650437a1e4" class="chart-container" style="width:400px; height:250px;"></div>
    <script>
        var chart_ea39ed2faec6480788a63a650437a1e4 = echarts.init(
            document.getElementById('ea39ed2faec6480788a63a650437a1e4'), 'white', {renderer: 'canvas'});
        var option_ea39ed2faec6480788a63a650437a1e4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "blue",
        "green",
        "yellow",
        "red",
        "pink",
        "orange",
        "purple"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5357\u5b81\u65b0\u519c\u5408\u4f5c\u793e",
                    "value": 25.00
                },
                {
                    "name": "\u5e7f\u897f\u6c49\u9752\u519c\u4e1a\u53d1\u5c55\u6709\u9650\u516c\u53f8",
                    "value": 30.00
                },
                {
                    "name": "\u5357\u5b81\u5e02\u8363\u79a7\u751f\u6001\u519c\u4e1a\u6709\u9650\u516c\u53f8",
                    "value": 25.00
                },
                {
                    "name": "\u5357\u5b81\u5e02\u4e2d\u519c\u53d1\u519c\u4e1a\u6709\u9650\u516c\u53f8",
                    "value": 50.00
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "35%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5357\u5b81\u65b0\u519c\u5408\u4f5c\u793e",
                "\u5e7f\u897f\u6c49\u9752\u519c\u4e1a\u53d1\u5c55\u6709\u9650\u516c\u53f8",
                "\u5357\u5b81\u5e02\u8363\u79a7\u751f\u6001\u519c\u4e1a\u6709\u9650\u516c\u53f8",
                "\u5357\u5b81\u5e02\u4e2d\u519c\u53d1\u519c\u4e1a\u6709\u9650\u516c\u53f8"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "70%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6bcf\u6708\u6309\u4f9b\u5e94\u5546\u9500\u552e\u91d1\u989d\u6bd4\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ea39ed2faec6480788a63a650437a1e4.setOption(option_ea39ed2faec6480788a63a650437a1e4);
    </script>
</body>
</html>
