<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8d0957a77ff942d488f461f73524e64f" class="chart-container" style="width:600px; height:400px;"></div>
    <script>
        var chart_8d0957a77ff942d488f461f73524e64f = echarts.init(
            document.getElementById('8d0957a77ff942d488f461f73524e64f'), 'white', {renderer: 'canvas'});
        var option_8d0957a77ff942d488f461f73524e64f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "blue",
        "green",
        "yellow",
        "red",
        "pink",
        "orange",
        "purple"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0a\u6d77\u9752",
                    "value": 97.00
                },
                {
                    "name": "\u571f\u8c46",
                    "value": 54.00
                },
                {
                    "name": "\u725b\u6cb9\u679c",
                    "value": 60.00
                },
                {
                    "name": "\u63d0\u5b50",
                    "value": 100.00
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "35%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6d77\u9752",
                "\u571f\u8c46",
                "\u725b\u6cb9\u679c",
                "\u63d0\u5b50"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "90%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6bcf\u6708\u5546\u54c1\u9500\u552e\u989d\u6bd4\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8d0957a77ff942d488f461f73524e64f.setOption(option_8d0957a77ff942d488f461f73524e64f);
    </script>
</body>
</html>
