<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f332d741977a496f9b812cde22beaf43" class="chart-container" style="width:400px; height:250px;"></div>
    <script>
        var chart_f332d741977a496f9b812cde22beaf43 = echarts.init(
            document.getElementById('f332d741977a496f9b812cde22beaf43'), 'white', {renderer: 'canvas'});
        var option_f332d741977a496f9b812cde22beaf43 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "blue",
        "green",
        "yellow",
        "red",
        "pink",
        "orange",
        "purple"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u516b\u6842\u7530\u56ed",
                    "value": 97.00
                },
                {
                    "name": "\u8001\u7530\u5bb6\u4e1a\u516c\u53f8",
                    "value": 144.00
                },
                {
                    "name": "\u5927\u96c4\u519c\u5bb6\u4e50",
                    "value": 60.00
                },
                {
                    "name": "\u65b0\u4e16\u7eaa\u519c\u4e1a\u6709\u9650\u516c\u53f8",
                    "value": 100.00
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "35%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u516b\u6842\u7530\u56ed",
                "\u8001\u7530\u5bb6\u4e1a\u516c\u53f8",
                "\u5927\u96c4\u519c\u5bb6\u4e50",
                "\u65b0\u4e16\u7eaa\u519c\u4e1a\u6709\u9650\u516c\u53f8"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "70%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6bcf\u6708\u6309\u4f9b\u5e94\u5546\u9500\u552e\u91d1\u989d\u6bd4\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f332d741977a496f9b812cde22beaf43.setOption(option_f332d741977a496f9b812cde22beaf43);
    </script>
</body>
</html>
